html {
    color: rgba(255,255,255,0.8);
}

body {
    background-color: #263238;
    
}

.chip {
    background-color: rgba(0, 0, 0, 0.20);
}

.toast-success {
    background-color: #388e3c !important;
}

.toast-error {
    background-color: #d32f2f !important;
}

.badge-active {
    background-color: #00e676 !important;
    color: #004d40 !important;
}