@{
    ViewData["Title"] = "Home Page";
}

<div id="app-vue">
    <h1>{{ message }}</h1>

    <a class="btn" v-on:click="getSimulators()">Lade Simulatoren</a>

    <div v-for="sim in simulators">
        <div>{{ sim.name }}</div>
    </div>
</div>


