<nav class="blue accent-2">
    <div class="nav-wrapper container">

        <a class="brand-logo left">
            <img class="header-logo left" src="~/images/d3vs1m_logo.svg" />
            D3V S1M
        </a>
       
        <ul class="right">
            <li id="partial-start-link" class="partial-view-link"><a href="#top"><i class="mdi mdi-home-outline left"></i>Start</a></li>
            <li id="partial-simulation-link" class="partial-view-link"><a href="#top"><i class="mdi mdi-apps left"></i>Simulation</a></li>
            <li id="partial-scene-link" class="partial-view-link"><a href="#top"><i class="mdi mdi-image-filter-hdr left"></i>3D-Szene</a></li>
            <li><a id="side-nav-btn" data-activates="slide-out" class="pointer left" style="width: 55px;"><i class="mdi mdi-menu"></i></a></li>
        </ul>

    </div>
</nav>