html {
    color: rgba(255,255,255,0.8);
}

body {
    background-color: #263238;
    
}

nav {
    background-color: #006064;
}

.page-footer {
    background-color: #212121;
}

footer a {
    color: dimgrey;
}

.chip {
    background-color: rgba(0, 0, 0, 0.20);
}

.modal .modal-footer {
    background-color: #37474f;
}

    .modal .modal-footer .btn-flat {
        color: white;
    }

#console-modal > .modal-content {
    background: black;
    font-family: monospace;
    font-size: 1.2em;
}