/* Custom Materialize Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.pin-top {
    position: relative;
    z-index: 1000;
}

.pin-bottom {
    position: relative;
    z-index: 1000;
}

.pinned {
    position: fixed;
    z-index: 1000;
}

.tabs {
    overflow-x: hidden !important;
}

.tab a {
    color: #1976d2 !important;
}

.tabs .indicator {
    background-color: #1976d2 !important;
}

.tab-icon {
    margin-top: 10px;
}

.collapsible {
    margin: 7px !important;
}

.modal {
    max-height: 85%;
}

span.badge.new {
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

/* END ovf materializeCSS  */

.header-logo {
    margin-top: 10px;
    margin-right: 10px;
}

i {
    font-size: x-large;
}

[v-load] {
    display: none;
}

#code-modal {
    height: 85%;
}

.code-editor {
    font-size: larger;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 56px;
    left: 0;
}

.code-footer {
    position: absolute;
    bottom: 0px;
}

#console-progress {
    margin: 0px;
    display: none;
}

.vertical-separator {
    width: 1px;
    height: 20px;
    display: inline-block;
    border: solid 1px rgba(160,160,160,0.2);
}