 <!-- Modal Trigger -->
<!-- Modal Structure -->
<div id="console-modal" class="modal bottom-sheet z-depth-2">
    <div id="console-content" class="modal-content">
        >_
    </div>
    <div id="console-progress" class="progress">
        <div class="indeterminate"></div>
    </div>
    <div class="modal-footer">
        <a id="clear-console-link" href="#!" class="waves-effect waves-red btn-flat left"><i class="mdi mdi-playlist-remove left"></i> Clear</a>
        <a id="copy-console-link" href="#!" class="waves-effect waves-light btn-flat left"><i class="mdi mdi-clipboard-text-outline left"></i> Copy</a>
        <a href="#!" class="modal-close waves-effect waves-light btn-flat"><i class="mdi mdi-close left"></i>Close</a>
    </div>
</div>