 <!-- Modal Trigger -->
<!-- Modal Structure -->
<div id="console-modal" class="modal bottom-sheet z-depth-2">
    <div id="console-content" class="modal-content">
        >_
    </div>
    <div id="console-progress" class="progress">
        <div class="indeterminate"></div>
    </div>
    <div class="modal-footer">

        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>