<nav>
    <div class="nav-wrapper container">

        <ul class="left">
            <li>
                <a id="side-nav-btn" data-activates="slide-out" class="pointer left" style="width: 55px;">
                    <i class="mdi mdi-menu"></i>
                </a>
            </li>
        </ul>

        <a class="brand-logo center">
            <img class="header-logo left" src="~/images/d3vs1m_logo.svg" />
            <span class="hide-on-small-only">D3V S1M</span>
        </a>

        <ul class="right">
            <li id="start-sim-link"><a><i class="mdi mdi-play left"></i>Start</a></li>
            <li id="console-link">
                <a class="modal-trigger" href="#console-modal">
                    <i class="mdi mdi-console left"></i>Console
                </a>
            </li>
        </ul>

    </div>
</nav>