@{
    ViewData["Title"] = "Home";
}

@section Scripts {
    <script src="~/js/_home.js"></script>
}

<div id="app-vue" v-load>

    <div v-if="arguments" class="row">
        <div v-for="arg in arguments" class="col s12 m12 l6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span v-if="arg.active" class="new badge badge-active" data-badge-caption="AKTIV"></span>
                    <span class="card-title">{{ arg.name }}</span>

                </div>
                <div class="card-action">
                    <a v-on:click=""><i class="mdi mdi-play"></i></a>
                    <a v-on:click=""><i class="mdi mdi-stop"></i></a>
                    <a><span class="vertical-separator"></span></a>
                    <a v-on:click="getArgument(arg.guid)"  class="right"><i class="mdi mdi-tune"></i></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="code-modal" class="modal">
        <div class="modal-content">
            <div id="ace-editor" class="code-editor"></div>
        </div>
        <div class="modal-footer code-footer">
            <a v-on:click="updateArgument(currentGuid)" class="modal-close waves-effect waves-green btn-flat">Send</a>
        </div>
    </div>
</div>